/* Hello You can not Simply add global styles to this file, and also import other style files */

img {
    max-width: 100%;
}


body, html, *{
    font-family: 'Roboto', sans-serif;
    color: #666675;
    font-weight: 400;
}
body, p{
    font-size: 15px;
}

/***************HEADER CSS****************/


/***********************BANNER CSS****************/
.banner {
    background-image: url('./assets/images/blue-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    padding-top: 200px;
}

.laptop-screen{
    text-align: center;
}
.laptop-screen img{
    width: 30%;
    max-width: 30%;
    z-index: 99999;
}

.information {
    overflow: hidden;
    width: 100%;
    background: white;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 20px;
    -webkit-box-shadow: 0 0 15px 5px rgba(112, 190, 211, 0.18);
    -moz-box-shadow: 0 0 15px 5px rgba(112, 190, 211, 0.18);
    box-shadow: 0 0 15px 5px rgba(112, 190, 211, 0.18);
    margin-top: -165px;
    padding-top: 55px;
}
.information img {
    width: 40px;
}
.information p {
    color: grey;
    font-size: 16px;
    margin-top: 10px;
}
.information p span {
    color: black;
    font-weight: 600;
}
.information h5 {
    color: #666674;
    font-weight: 600;
    font-size: 30px;
    margin-top: 0px;
    line-height: 18px;
}
.information h6 {
    color: grey;
    font-size: 20px;
    margin: 20px 0px 25px 0px;
}
.informations a, form .pulse-button {
	background: #f1693c;
	color: white;
	padding: 25px 66px;
	display: inline-block;
	font-size: 20px;
	border-radius: 3px;
	text-decoration: none;
	margin-bottom: 15px;
}
.information h4 {
    font-size: 14px;
    margin: 0px 0px 5px 0px;
    color: grey;
}

.information h4 sup {
    font-size: 9px;
}

.content-head {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
}
.content-head h5 {
    color: #666674;
    font-size: 24px;
    font-weight: 600;
}
.content {
    background-image: url("./assets/images/grey-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.content-head h5 {
    color: #666674;
    font-size: 22px;
    font-weight: 600;
}
.content-head h5 {
    color: #666674;
    font-size: 22px;
    font-weight: 600;
}
.content-left {
    float: left;
    width: 100%;
}
.content-right {
    float: left;
    width: 100%;
}
.content-body {
    float: left;
    width: 100%;
}
.content-left img {
    vertical-align: middle;
    width: 80%;
    margin: auto;
    display: inherit;
}
.content-right p {
    color: rgba(255,255,255,0.6);
    font-size: 16px;
    margin-bottom: 4px;
}
.content-right p span {
    color: white;
}
.content-right {
    float: left;
    width: 100%;
    background: #64b8c9;
    text-align: center;
    border-radius: 10px;
    padding: 20px 0px;
}
.content-right p {
    color: rgba(255,255,255,0.6);
    font-size: 16px;
    margin-bottom: 10px;
}
.content-body2 {
    float: left;
    width: 100%;
    padding-left: 60px;
}
.content-body2 h5 {
    font-size: 14px;
    background: #64b8c9;
    color: white;
    float: left;
    font-size: 25px;
    padding: 12px 20px;
    border-radius: 100%;
}
.content-body2 p {
    color: grey;
    font-size: 14px;
    float: left;
    font-weight: 600;
    margin-top: 27px;
    margin-left: 20px;
}
.content-body2 {
    float: left;
    width: 100%;
    padding-left: 60px;
}
.content-body {
    float: left;
    width: 100%;
    margin-bottom: 40px;
}
.content-body3 {
    float: left;
    width: 100%;
    text-align: center;
}
.content-body3 p {
    color: grey;
    font-size: 16px;
    padding-left: 60px;
    text-align: left;
    margin: 20px 0px 30px 0px;
}

.content-body3 a {
    background: #f1693c;
    color: white;
    font-size: 20px;
    padding: 10px 35px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    margin-top: 0px;
}
.content {
    background-image: url('./assets/images/grey-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 30px;
}
a.pulse-button, .pulse-button {

  position: relative;
  width: auto;
  height: auto;
  border: none;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  border-radius: 4px;
  background-color: #e84c3d;

  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 2.5s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 2.5s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 2.5s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 2.5s infinite cubic-bezier(0.66, 0, 0, 1);
}
a.pulse-button:hover, form .pulse-button:hover
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}



/*******************NEW ELEMENTS CSS************/

.element1 {
    float: left;
    width: 100%;
}
.element2 {
    float: left;
    width: 100%;
}

.pattern1 {
    float:left;
    width: 100%;
}
.pattern1 p {
    color: grey;
    font-size: 18px;
    text-align: center; 
}
.counting1 {
    float: left;
    width: 100%;
    text-align: center;
}
.counting1 p {
    color: #1494be;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
} 
 

.counting1 span {
    background: silver;
    color: #544a4a;
    padding: 6px 15px;
    display: inline-block;
    font-size: 22px;
    border-radius: 3px;
}

.element1 {
    float: left;
    width: 100%;
    padding: 40px 0px 30px 0px;
}
.element3 {
    float: left;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
}
.element3-head {
    float: left;
    width: 100%;
    text-align: center;
}
 .element3-head h5 {
    color: black;
    font-size: 28px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}


.element3-head p {
    color: grey;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
}

.element3-data {
    float: left;
    width: 100%;
}
 
 .testimonial-main {
    float: left;
    width: 100%;
 }
 .testimonial1 {
    float: left;
    width: 100%;
 }
.slider-content {
    float: left;
    width: 100%;
    padding: 25px 0px 40px 0px;
}
.testimonial-left img {
    width: 80px;
    border-radius: 100%;
    margin-bottom: 10px;
}

.testimonial-left h5 {
    font-size: 16px;
    color: black;
    margin: 0px;
}
.testimonial-left h6 {
    font-size: 13px;
    margin: 6px 0px 10px 0px;
    color: #1494be;
}

.testimonial-right {
    float: left;
    width: 50%;
    padding-top: 90px;
}
.testimonial-left {
    float: left;
    width: 50%;
}
.rating-fill {
    color:#fdd003;
}
.testimonial2 {
    float: left;
    width: 100%;
}

.testimonial2 p {
    color: grey;
    line-height: 19px;
}
.carousel-control {
    width: auto;
}

.testimonial-main {
    float: left;
    width: 100%;
    padding: 10px 15px 0px 15px;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.1);
    border-radius: 5px ;
}

 .carousel-indicators {
    bottom: 0px;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    border: 1px solid #64b8c9;
    border-radius: 10px;
   /* background-color: #000;  internet explorer hack 9*/
}

.carousel-indicators li.active {

    background:#64b8c9;
    
}

.tooltip1 {
    position: relative;
 cursor: pointer;
}

.tooltip1 .tooltiptext1 {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    font-size: 12px;
    top: 100%;
}

.tooltip1:hover .tooltiptext1 {
    visibility: visible;
}
/* ========== Checkout Page ========= */
.top-bar {
    background: #1d4091;
}
.top-text {
    color: #fff;
    line-height: 45px;
}
#page-checkout #page-header {
    background: url('./assets/images/bribg.jpg') center center no-repeat;
    background-size:cover;
    padding-top: 80px;
    padding-bottom:0px
}
#page-checkout  #page-content{
    background-repeat: repeat;
    background-size:contain;   
        padding-top:30px;
}
.pt-0{
    padding-top:0!important;
}
.bg-w{ background-color:#ffffff}
.bg-1{ background-color:#1d4091}
.bg-2{
    background-color: #64b8c9;
}
.bg-3{
    background-color: #f1693c   ;
}
.bg-4{
    background-color: #1391c3;
}
.bri-box{
    border-radius:4px;
    -webkit-box-shadow: 0px 15px 25px rgba(112,190,211,0.18);
    box-shadow: 0px 15px 25px rgba(112,190,211,0.18);
margin-bottom: 2.5em;
}
#right-content .bri-box,#right-content .bri-box h3{
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}
.bri-box:last-child{margin-bottom:0;}
.bri-boxWrap{
padding: 1.5em;
}
.bri-box h3{
    color:#fff;
   padding: 0.5em 1em;
    margin: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 22px;
}
.expireTimer {
    background-color: rgba(41, 136, 195, 0.7);
    border: 3px solid #2988c3;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}
.expireTimer span{
   display: inline-block;
   padding: 0.2em;
}
.expireTimer .text {
    font-size:12px;
    color: #56a2d2;
    text-transform: uppercase;
}
.expireTimer .timer{
    color:#fff;
    font-size:17px;
}

.left-content {
    margin-top: -137px;
}
.one-mnth {
    padding-left: 4em;
    list-style: none;
    position: relative;
}
.one-mnth:before{
    content: "";
width:30px;
height: 30px;
display: inline-block;
background: url('./assets/images/target.png') no-repeat center center;
background-size: contain;
position: absolute;
top: 0;
left: 1%;
z-index: 1
}
.one-mnth li{
    color:#6b6b6b;
}
.one-mnth h2{
    margin-top:0px;
}
.offer-price{
    color:#f1693c;
    font-size:40px;
}
.offer-price del{
    font-size: 24px;
    display: block;
    color: #6b6b6b;
    font-weight: 300;
}
.purchase-list {
    padding-left: 2em;
}
.purchase-list li {
    padding-left: 1em;
    color: #000;
    font-size: 21.5px;
    margin-bottom:1.5em;
}
.purchase-list li:last-child{margin-bottom:0;}
.purchase-list li div{
  color:#000;
}
.tabbable-panel .nav-tabs{
    border-bottom:0px;
    text-align:center;
}
.tabbable-panel .nav-tabs>li {
    margin-bottom: 0;
    float: none;
    display: inline-block;
    margin-left:-4px;
}
.tabbable-panel .nav-tabs>li.active{
    z-index:1;
}
.tabbable-panel .nav-tabs>li:first-child{
    margin-left:0px;
}
.tabbable-panel .nav-tabs>li>a {
    padding: 1.6em;
    background: #f5f5f5;
    border-radius: 0px;
    border: 1px solid #f1f1f1;
    border-bottom-width: 2px;
    margin-right: 0px;
}
.tabbable-panel .nav-tabs>li>a>img{
    margin: auto;
    max-height:46px;
}
.tabbable-panel .nav-tabs>li.active>a,
 .tabbable-panel .nav-tabs>li.active>a:focus, 
 .tabbable-panel .nav-tabs>li>a:hover {
  border: 1px solid #f1f1f1;
    border-bottom-width: 2px;
    background-color: #fff;
    border-bottom-color: #64b8c9;
}
.tab-content {
    overflow: hidden;
}
 .pulse-button {
	margin-top: 10px;
	font-size: 33px;
}
 button.pulse-button .small-image {
	height: 26px;
	position: absolute;
	right: 33px;
	top: 50%;
	margin-top: -13px;
	transition: all 0.3s ease-in;
}
 button.pulse-button:hover .small-image {
right:28px;
}
 .pulse-button:focus{
    outline:none;
}
.bri-input-group{
    border: 2px solid #e4e4e4;
}

.tab-pane {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .px-0{padding-left:0!important; padding-right: 0!important;}
 


.form-row label {
    font-weight: 400;
    color: #8a8a8a;
}
.bri-form__input {
    border: 1px solid #e4e4e4;
    width: 100%;
    padding: 12px 16px;
    height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0px;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom:15px;
}
.bri-form__input:focus{
border-color: rgba(19,145,195,1);
box-shadow:none;
outline:none;
}
/* stripe css ends here */
hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 2px solid #d4d4d4;
}
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.media-item{
    text-align: center;
    width: 140px;
}
.media-item .img-responsive{
    display: inline-block;
    
}
.purchase-list li:first-child .media-item .img-responsive{

}
.list-content a{
    display: block;
    font-size: 15px;
    padding-top:5px;
}
.secure-by img{
    height: 64px;
    margin: auto;
}
.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.media img{
    display: inline-block; 
    margin-right:1.5em;
    max-height: 80px;
}
.media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 17px;
    color:#6b6b6b;
}
.order-summary {
    list-style: none;
}
h4.order-heading{
    color: #373737;
    margin-top:0px;
}
.order-summary li {
    font-size: 15px;
    color: #373737;
    position: relative;
    padding-top:0.2em;
    padding-bottom: 0.2em;
}
.order-summary li:before{ content: "";
position:absolute;
display: inline-block;
width: 18px;
    height: 18px;
    background: url('./assets/images/list-bullet.png') no-repeat center;
    background-size: contain;
    left: -2.3em;
    top: 50%;
    margin-top: -9px;
}
.discount {
    padding: 0.3em 1.6em;
    color: #fff;
}
.fnt-light {
    font-weight:300
   
}
.info {
    padding:0.3em 1.6em;
}

.rating-starsholder span {
    max-width: 28px;
    display: inline-block;
    margin: 1px;
}
.satisfaction img{
    max-width:100%;
    margin:auto;
    
}
.imageWrap {
    padding:0.8em 0px;
}
.guarnted img {
    max-width: 90%;
}
.call-us {
    color: #f2683c;
}
.csupport *, .csupport h4.order-heading, .csupport .media-body{
    color:#fff;
}
.csupport h4.order-heading{
    margin-top:0px;
}
.csupport .media-body{
    color:#fff;
    font-size: 12px;
}
.above-footer-text {
    padding: 30px 20px;
    padding-top: 120px;
}
#right-content .csupport{
    border-top-left-radius:4px;
     border-top-right-radius:4px;
} 
    .jconfirm .jconfirm-box .jconfirm-buttons button.btn-default {
    background-color: rgba(38, 64, 130, 0.85);
    color: #fff;
    -webkit-transition: background .2s;
    transition: background .2s;
    font-weight: 400!important;
}
.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.btn-default:hover, .jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn-default:hover {
    background: #264082;
}
.btn-default:active:focus, .btn-default:active{
    outline:none;
}
/* overlay css on page load */
    .jconfirm .jconfirm-bg, .jconfirm.jconfirm-light {
    background: rgba(0,0,0,0.5);
}
.jconfirm.jconfirm-my-theme .jconfirm-box{
    padding:0;
    box-shadow: 0px 15px 32px rgba(38,64,130,0.38);
    border:0px;
}


.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-title-c{
    background-color:#264082;
padding:0.5em 1em;
font-size:21px;
font-weight:400;
text-align: center;
}
.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-title{
color: #fff;
}

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons{
    text-align: center;
   
}
.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons button{
     text-transform: uppercase;
     background-color:#e64d43;
     border-radius:0px;
     width: 50%;
}
    .jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons button:hover{
           background-color:rgba(230, 77, 67, 0.9);
    }
        .img-dialog {
    text-align: center;
    padding-top: 18px;
}

div.fix-search{
    transform:translate(-50%);
    position:fixed;
    top:0;
    left:50%;
    margin-top: 0;
    z-index: 999;
    width: 100%;
    background: rgba(228,228,228, 0.8);
}
div.fix-search .pulse-button{
    margin-top:0.5em;
}







.transition{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.stepwizard-step p {
    margin-top: 0;
    color:#666;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    color:#bbb;
}
.unset{
    position: unset;
}
.stepwizard-row:before {
    top: 20px;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 100%;
    height: 2px;
    border-bottom: 2px dashed #fff;
    z-index: 0;
}
.text-white{
    color: #fff;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 42px;
    height: 42px;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    line-height: 1.428571429;
    border-radius: 35px;
}
.connection{
    margin-top: 5px;
    margin-bottom: 31px;
}
.connection img{
    width: 40px;
    height: 40px;
}
.btn-default, .btn-default:hover{
    color: #D4F1FA !important;
    background-color: #5EA7BD;
    border-color: #90D7E9;
}
#page-content{
    background: url('./assets/images/content-bg.png') center center no-repeat;
    background-size: cover;
    padding-bottom: 20px;
}
form.home-form {
    margin-top: -118px;
    -webkit-box-shadow: 0 0 15px 5px rgba(112, 190, 211, 0.18);
    -moz-box-shadow: 0 0 15px 5px rgba(112, 190, 211, 0.18);
    box-shadow: 0 0 15px 5px rgba(112, 190, 211, 0.18);
}
.panel{
    border: none;
    border-radius: 10px;
    padding: 35px;
}
.alert-close{
    background: #f6bb43;
    border-radius: 10px;
    padding: 15px 0;
}
.alert-close img{
    height: 15px;
    position: relative;
    bottom: 1px;
    /*right: 12px;*/
}
.btn-success, .btn-success:hover {
    color: #666675 !important;
    background-color: #fff;
    border-color: #fff;
}
.btn-warning{
    background-color: #F1693C;
    border-color: #F1693C;
}
.btn-warning:hover{
    background-color: #fff;
    border-color: #F1693C;
    color: #F1693C;
}
.navbar{
    min-height: 100px;
}
.navbar-default{
    background-color: #FCFCFC;
    border-color: #FCFCFC;
}
.navbar-toggle{
    margin-top: 33px;
}
.navbar-brand img{
    max-height: 80px;
    position: relative;
    bottom: 5px;
}
.bmi-logo{
    max-height: 28px;
    position: relative;
    bottom: 3px;
}
#page-header {
	background: url('./assets/images/blue-bg.png') center center no-repeat;
	background-size: cover;
	padding: 30px 0;
	padding-bottom: 168px;
}



.pl-icon {
	text-align: center;
	margin-top: 27px;
}
.pl-icon img {
	max-width: 397px;
}



.bri-boxWrap.tin-brd {
	border-top: 1px solid #1391C3;
	padding-top: 0px;
}




#right-content {
	margin-top: -137px;
}

.bg-2.new-c {
	background: #1D4091;
}

.big-tp-tittle h1 span strike {
	margin-right: 9px;
}
.big-tp-tittle h1 {
	color: #1D4091;
	font-size: 36px;
}
.big-tp-tittle h1 span {
	float: right;
	color: #F1693C;
	font-size: 30px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a sup, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: #0088B8;
    background-color: transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color: transparent;
}
.btn-default:hover {

}
.navbar-nav .active a.nav-link::before{
    content: '';
    width: 25px;
    height: 2px;
    background: #0088B8;
    position: absolute;
    margin: 0 auto;
    top: 55px;
    left: 33%;
}
.clearfix{
    clear: both;
}
.navbar-nav li{
    text-align: center;
}
ul.nav.navbar-nav.navbar-left {
    margin-top: 11px;
}
.navbar{
    margin: 0;
}
.navbar-nav>li>a {
    padding-top: 30px !important;
    padding-bottom: 32px !important;
    font-weight: 400;
}
ul.nav.navbar-nav.navbar-right {
    padding-top: 12px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff;
}
.navbar-default .navbar-toggle{
    border-color: #0088B8;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #0088B8;
}
.quote{
    margin-top: 15px;
}
.quote .quote-icon{
    width: 35px;
}

.jconfirm .jconfirm-box .jconfirm-buttons button.btn-default {
	background-color: #F1693C !important;
	color: #000;
	text-shadow: none;
	-webkit-transition: background .2s;
	transition: background .2s;
}






@font-face {
    font-family: Bhan-title;
    src: url('./assets/fonts/BAHNSCHRIFT.TTF');
}


 


.purchase-list.left-cnt-list {
	padding: 0;
	list-style: none;
}
.mn-titlee span {
	position: absolute;
	left: 0;
}
.mn-titlee {
	position: relative;
	padding-left: 22px;
}
.pra {
	padding-left: 23px;
}
.mn-titlee {
	font-family: Bhan-title;
	font-size: 22px;
}
.mn-titlee {
	color: #1D4091 !important;
}
.mn-titlee span {
	color: #1D4091 !important;
}

.pra {
	font-size: 13px;
	color: #000;
}
  .big-tp-tittle h1 {
	color: #1D4091;
	font-size: 30px;
	font-family: Bhan-title;
}
    
.big-tp-tittle h1 span {
	
	font-family: Bhan-title;
}


.quote .details{
    color: #2a93bc;
    font-size: 20px;
    margin: 0;
}
.quote .designation{
    color:  #666674;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
}
.middle{
    vertical-align: middle !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border: none;
}

.btn-done {
    color: #fff !important;
    background-color: #8cc051;
    border-color: #fff;
    border: 2px solid #fff;
}
.btn-done i{
    color: #fff;
}
.clear{
    clear: both;
    overflow: hidden;
}
.form-group {
    overflow: hidden;
}
label.control-label {
    font-weight: normal;
    font-size: 17px;
    padding-top: 8px;
}
.text-lg{
    font-size: 19px;
}
.text-small{
    font-size: 13px;
}
.text-medium{
    font-weight: 400;
}
.text-gray{
    color: #80808f;
}
.text-gray-l{
    color: #9c9ca8;
}
.no-padding{
    padding: 0;
}
.no-margin{
    margin: 0;
}
.bg-gray{
    background-color: #f9f9f9;
}
.img-center{
    margin: 0 auto;
}
.step6-icons{
    max-width: 40px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
.pt-pb-35{
    padding-top: 35px;
    padding-bottom: 35px;
}
.footer1 {
    background: #4a5362;
    padding: 25px 0;
    padding-top: 32px;
}
.footer2 {
    background: #3d4553;
}
.footer2 p {
    text-align: center;
    color: #b6becd;
    font-size: 14px;
    padding: 13px 0;
    margin: 0;
}
.footer-left{
    list-style-type: none;
}
.footer-left li{
    display: inline-block;
    margin-right: 15px;
}
.footer-right li{
    display: inline-block;
    margin-left: 15px;
}
.footer-left li a {
    color: #fff;
    font-size: 15px;
}
.footer-right{
    list-style-type: none;
    text-align: right;
}
.footer-right li a {
    display: inline-block;
}

/*IQ-QUIZ*/
.quiz-area-top{
    background-color: #fff;
    border-radius: 10px;
}
.quiz-area-top div p{
    color: #8c8c99;
    padding-top: 40px;
    padding-bottom: 27px;
    padding-right: 10px;
    padding-left: 10px;
    letter-spacing: 1px;
}
.time{
    background-color: #c9c9cc;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 10px;
}
.quiz-area-middle-left{
    border-radius: 2px;
    border: 1px solid #EEEEEE;
}
.quiz-area-middle-left p:first-of-type {
    font-size: 30px;
    color: #000000;
    font-weight: bolder;
    padding: 0;
    padding-left: 10px;
    margin: 0;
    margin-bottom: -5px;
    padding-top: 10px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000;
    margin: 1em 0;
    padding: 0; 
}
.question{
}
.information.thankyou-page p {
    text-align: left;
    padding: 0 16px;
}
.thankyou-button{
	
}
a.btn.btn-lg.thankyou-button {
    max-width: 100%;
    font-size: 14px !important;
    padding: 15px 29px;
	font-weight: bold;
}

.quiz-area-middle-right p:first-of-type{
    text-align: right;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 17px;
    padding-right: 10px;
    padding-bottom: 0px;
    margin-bottom: -10px;
    margin-top: 5px
}
.quiz-area-bottom{
    margin-top: 20px ;
  margin-bottom: 20px ;
}
.q-no{
    color: #000;
    font-weight: bolder;
    border: 2px solid #EEEEEE;
    border-radius: 20px;
    width: 57px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    padding: 4px 0;
    text-decoration: none;
	    cursor: pointer;
}
.q-no.active{
    color: #0088B8;
    border: 2px solid #0088B8;
    text-decoration: none;
}
.quiz-area-bottom a:hover {
    text-decoration: none;
}
.border-top{
    border-top: 1px solid #eee;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}
.inline-box{
    display: inline-box;
    display: -webkit-inline-box;
    width: 100%;
}

.quiz-area-middle-left,
.quiz-area-middle-right{
    min-height: 420px;
}

.quiz-form{
    margin-top: -70px;
}
.nav-tabs{
    border: none;
}

#get_results{
    display: none;
}

a.pulse-button, input.pulse-button{
  position: relative;
  width: auto;
  height: auto;
  border: none;
  margin: 0 auto;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  border-radius: 4px;
  background-color: #e84c3d;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 2.5s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 2.5s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 2.5s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 2.5s infinite cubic-bezier(0.66, 0, 0, 1);
    color: white;
    padding: 15px 35px;
    display: inline-block;
    font-size: 20px;
    border-radius: 3px;
    text-decoration: none;
    margin-bottom: 15px;
}
a.pulse-button:hover, input.pulse-button:hover {
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}






.table{
    margin: 0;
}


.boxed label {
  display: inline-block;
  border: solid 4px #eee;
  transition: all 0.3s;
}

.boxed input[type="radio"] {
  display: none;
}

.boxed input[type="radio"]:checked + label {
  border: solid 4px #0088B8;
}

/* ---- timer ---- */
.circle {
    margin-top: 11px;
}
.setters {
  position: absolute;
  left: 85px;
  top: 75px;
}

.minutes-set {
  float: left;
  margin-right: 28px;
}

.seconds-set { float: right; }

.controlls {
  position: absolute;
  left: 31px;
  top: 37px;
  text-align: center;
}

.display-remain-time {
    font-weight: 400;    font-size: 20px;    color: #0088b8;    height: 50px;    line-height: 25px;
}

.e-c-base {
  fill: none;
  stroke: #eee;
  stroke-width: 4px
}

.e-c-progress {
  fill: none;
  stroke: #0088B8;
  stroke-width: 4px;
  transition: stroke-dashoffset 0.7s;
}

.e-c-pointer {
  fill: #0088B8;
  stroke: #0088B8;
  stroke-width: 2px;
}

#e-pointer { transition: transform 0.7s; }



.small-lock{
	width:10%
}









/*********Media Queries*******/


/***********MEDIA QUERY**********/
@media screen and (max-width:1199px) and (min-width:1101px){
    .nav>li>a>img.bmi-logo {
        max-height: 18px;
    }
}
@media screen and (max-width:1130px) and (min-width:992px){
    .purchase-list li {
        font-size: 18.5px;       
    }
    .list-content a{font-size: 13px}
}
@media screen and (max-width:991px){
    .left-content {
		margin-top: -100px;
	}
		
		#right-content {
		margin-top: 0 !important;
	}
		.bri-box:last-child{margin-bottom:2.5em;}
		#page-checkout #page-header{
			padding-top:0px;
		}
		#page-header .bri-box{margin-bottom:0px;}
		.d-reverse {
		display: flex;
		flex-direction: column-reverse;
	}
	.above-footer-text{
		padding-top:30px;
	}
}

@media screen and (min-width:768px) {
	.quiz-area-middle-right{
		border-radius: 2px;
		border: 1px solid #EEEEEE;
	}
}
@media screen and (max-width:992px) and (min-width:768px) {
    .counting1 span {
		background: silver;
		color: #544a4a;
		padding: 6px 12px;
		display: inline-block;
		font-size: 15px;
		border-radius: 3px;
		font-weight: 600;
	}
	.testimonial-left {
		float: left;
		width: 100%;
	}
	.testimonial-right {
		float: left;
		width: 100%;
		padding-top: 0px;
		padding-bottom: 5px;
	}
	.navbar-nav li {
		margin-right: 20px;
	}
	li.right-fix {
		margin-right: 20px !important;
		float: right;
		position: static;
		right: 0;
		margin-top: 5px;
	 
	}

	.menu {
		float: left;
		width: 87%;
		padding-top: 15px;
	}
	.laptop-screen img {
		vertical-align: middle;
		width: 50% !important;
	}

	.content-right p {
		color: rgba(255,255,255,0.6);
		font-size: 16px;
		margin-bottom: 2px;
	}.content-right {
		float: left;
		width: 100%;
		background: #64b8c9;
		text-align: center;
		border-radius: 10px;
		padding: 10px 0px;
	}
	.content-left img {
		vertical-align: middle;
		width: 90%;
		margin: auto;
		display: inherit;
	}

	.content-body2 p {
		color: grey;
		font-size: 14px;
		float: left;
		font-weight: 600;
		margin-top: 20px;
		margin-left: 20px;
		width: 80%;
	}

}






@media (max-width: 1100px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    .navbar-nav .active a.nav-link::before{
        content: '';
        width: 0;
        height: 0;
        background: transparent;
        position: absolute;
    }
    .navbar-nav>li>a{
        padding-top: 10px !important;
        padding-bottom: 12px !important;
    }
    li.first-link {
        border-top: 1px solid #ccc;
        margin-top: 15px;
    }
}


@media (min-width: 767px) {
    .hide-xs{
        display: block;
    }
    .show-xs{
        display: none;
    }
}


@media (max-width: 991px) {
    svg:not(:root) {
        display: none;
    }
    .controlls {
        position: relative;
        top: 11px;
        text-align: right;
        margin-right: 33px;
		min-height: 33px;
		padding-bottom: 6px;
    }
    .quiz-area-top div p {
        padding:5px 0;
    }
    .circle{
        display: none;
    }
    .tab-content.inline-box {
        margin-top: -35px;
    }
    .quiz-area-middle-left, .quiz-area-middle-right {
        min-height: auto;
        padding-bottom: 15px;
    }
    .hide-xs{
        display: none;
    }
    .quiz-area-top {
        padding-top: 23px;
    }
    .quiz-form {
        margin-top: -138px;
    }
	button.btn.btn-orange.btn-lg.pulse-button {

		padding: 25px 8%;
		font-size: 17px;
	}
	
	.small-lock {
		width: 8%;
		vertical-align: middle;
	}
	button.pulse-button .small-image {
		right: 27px;
	}
}

    




@media screen and (max-width:767px){
	
	.quiz-area-middle-left p:first-of-type {
		font-size: 24px;
	}
	.secure-by img {
		margin-bottom: 15px;
	}
	.above-footer-text {
		padding-top: 30px;
		padding: 30px 20px;
	}
	
	
	.pl-icon.sec.secure-icon img {
		max-width: 232px;
	}
	.pl-icon.sec.secure-icon {
		text-align: right;
		margin-top: 5px;
	}
    
  
	.big-tp-tittle h1 {
		color: #1D4091;
		font-size: 27px;
		text-align: right;
		margin-top: 10px;
	}
    .big-tp-tittle h1 span.normal{
		font-size: 27px;
		margin: 0;
	}
	
	#tab_default_1 {
		padding-left: 0px !important;
	}  
		
	.hide-xs{
        display: none;
    }
    .show-xs{
        display: block;
    }
    .footer-right, .footer-left{
        text-align: center;
    }	
		
	.big-tp-tittle h1 span {
		float: none;
		color: #F1693C;
		font-size: 19px;
		margin-top: 6px;
		margin-left: 19px;
	}
		
		
	.informations a,  .pulse-button {
		background: #f1693c;
		color: white;
		padding: 18px 41px;
		display: inline-block;
		font-size: 19px !important;
		border-radius: 3px;
		text-decoration: none;
		margin-bottom: 15px;
	}
		
	button.pulse-button .small-image {
		height: 19px;
		position: absolute;
		right: 20px;
		top: 50%;
		margin-top: -8px;
		transition: all 0.3s ease-in;
	}   
		
	  button.pulse-button:hover .small-image {
		right: 13px;
	}   

	  .pl-icon img {
		max-width: 100%;
	}  
    
	.text-center.button-right {
		text-align: right;
	}
    
	#page-header {

		padding-bottom: 110px !important;
	}  
		
	  .bri-box:last-child {
		margin-bottom: 0 !important;
	}  
	
	.btn-circle{
	    width: 36px;
		height: 36px;
		text-align: center;
		padding: 7px 0;
		font-size: 14px;
		line-height: 1.428571429;
		border-radius: 35px;
	}
	
	
   /* html,body{ -webkit-overflow-scrolling : touch !important; overflow: auto !important; height: 100% !important; }*/
}


@media (max-width: 600px) {
    
    
    .bri-boxWrap {
		padding-left: 10px;
		padding-right: 10px;
	}
		
		
	.list-content a {
		padding-right: 100px;
	}

	.media-item img {
		max-width: 133px;
	}
	.media-item {
		display: block;
		width: 100%;
		text-align: right;
		margin-top: -40px;
	}

	.list-content a {
		
		font-size: 11px;
		
	}
	.mn-titlee {
		margin-bottom: 8px;
	}
		
		
	.media-item.last-imgss img {
		width: 100% !important;
		max-width: 250px;
		margin-top: -155px;
	}
		
	 .lst-items {
		margin-top: 107px;
	}   
	 .media-item.last-imgss {
		text-align: left;
		padding-left: 19px;
	}
		
	.pra {
		padding-right: 136px;
		font-size: 11px;
	}
		
	.pra.lst-pra {
		margin-top: 109px;
	}
		

}








@media screen and (max-width:767px) and (min-width:520px) {
    .counting1 {
		float: left;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.counting1 p {
		color: #1494be;
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 10px;
	}
	 
	.testimonial-left {
		float: left;
		width: 100%;
	}
	.testimonial-right {
		float: left;
		width: 100%;
		padding-top: 5px;
		padding-bottom: 10px;
	}
	.testimonial-main {
		float: left;
		width: 100%;
		padding: 10px 15px 0px 15px;
		box-shadow: 1px 1px 15px rgba(0,0,0,0.1);
		border-radius: 5px;
		text-align: center;
		margin-bottom: 25px;
	}

	.navbar-toggle {
		position: relative;
		float: right;
		padding: 9px 10px;
		margin-top: -10px;
		margin-right: 15px;
		margin-bottom: 8px;
		background-color: transparent;
		background-image: none;
		border: 1px solid #64b8c9;
		border-radius: 4px;
		margin-bottom: 35px;
		margin-top: 33px;
	}
	.navbar-toggle .icon-bar {
		display: block;
		width: 22px;
		height: 2px;
		border-radius: 1px;
		background: #64b8c9;
	}
	.menu {
		float: left;
		width: 100%;
		padding-top: 0px;
		margin-top: -50px;
	}
	.navbar-nav li {
		margin-right: 0px;
		text-align: center;
		margin-bottom: 10px;
	}
	a.button1 {
		display: inline-block !important;
	}

	li.right-fix {
		margin-right: 0px !important;
		float: left;
		position: static;
		right: 0;
		text-align: center;
		width: 100%;
	}

	.laptop-screen img {
		vertical-align: middle;
		width: 350px !important;
	}


	.content-right {
		float: none;
		width: 75%;
		background: #64b8c9;
		text-align: center;
		border-radius: 10px;
		padding: 20px 0px;
		margin: auto;
		margin-top: 10px;
	}
	.content-body2 p {
		color: grey;
		font-size: 14px;
		float: left;
		font-weight: 600;
		margin-top: 20px;
		margin-left: 10px;
		width: 70%;
	}

	.footer-left {
		float: left;
		width: 100%;
		text-align: center;
	}

	.footer-left ul {
		padding: 0px;
		float: none;
		width: auto;
		list-style-type: none;
		padding-top: 5px;
		margin: auto;
		display: inline-block;
		padding-bottom: 10px;
	}
	.footer-left {
		float: left;
		width: 100%;
		text-align: center;
	}
	.footer-right {
		float: left;
		width: 100%;
		text-align: center;
	}

	.footer-right ul {
		float: none;
		margin: auto;
		display: inline-block;
		width: auto;
	}
	.footer-right ul li {
		float: right;
		margin-left: 0px;
		list-style-type: none;
		margin-right: 20px;
	}

}


@media screen and (max-width:519px) {
	.d-flex, .media{
		display: block;
	}
	.media img{
		margin-bottom:1em;
		margin-left:auto;
		margin-right: auto;
		display: block;
	}
	.guarnted img {
		max-width: 90%;
		margin-bottom: 15px;
	}
	.media-item .img-responsive{
		margin-top:5px;
	}
        
	.tabbable-panel .nav-tabs>li {
		display: block;
		margin-left:0px;
        margin-bottom: 5px;
	}
    .tabbable-panel .nav-tabs>li:last-child a{
        border-top-color:transparent;
    }
	.tabbable-panel .nav-tabs>li>a>img {
		margin: auto;
	}
	.tabbable-panel .nav-tabs>li>a {
		padding: 1em;
	}
        
	.testimonial-left {
		float: left;
		width: 100%;
	}
	.testimonial-right {
		float: left;
		width: 100%;
		padding-top: 5px;
		padding-bottom: 10px;
	}
	.testimonial-main {
		float: left;
		width: 100%;
		padding: 10px 15px 0px 15px;
		box-shadow: 1px 1px 15px rgba(0,0,0,0.1);
		border-radius: 5px;
		text-align: center;
		margin-bottom: 25px;
	}
	.counting1 p {
		color: #1494be;
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 10px;
	}

	.counting1 {
		float: left;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}


	.footer-left {
		float: left;
		width: 100%;
		text-align: center;
	}

	.footer-left ul {
		padding: 0px;
		float: none;
		width: auto;
		list-style-type: none;
		padding-top: 5px;
		margin: auto;
		display: inline-block;
		padding-bottom: 10px;
	}
	.footer-left {
		float: left;
		width: 100%;
		text-align: center;
	}
	.footer-right {
		float: left;
		width: 100%;
		text-align: center;
	}

	.footer-right ul {
		float: none;
		margin: auto;
		display: inline-block;
		width: auto;
	}
	.footer-right ul li {
		float: right;
		margin-left: 0px;
		list-style-type: none;
		margin-right: 20px;
	}

	.navbar-toggle {
		position: relative;
		float: right;
		padding: 9px 10px;
		margin-top: -10px;
		margin-right: 15px;
		margin-bottom: 8px;
		background-color: transparent;
		background-image: none;
		border: 1px solid #64b8c9;
		border-radius: 4px;
		margin-bottom: 35px;
		margin-top: 33px;
	}
	.navbar-toggle .icon-bar {
		display: block;
		width: 22px;
		height: 2px;
		border-radius: 1px;
		background: #64b8c9;
	}
	.menu {
		float: left;
		width: 100%;
		padding-top: 0px;
		margin-top: -50px;
	}
	.navbar-nav li {
		margin-right: 0px;
		text-align: center;
		margin-bottom: 10px;
	}
	a.button1 {
		display: inline-block !important;
	}

	li.right-fix {
		margin-right: 0px !important;
		float: left;
		position: static;
		right: 0;
		text-align: center;
		width: 100%;
	}

	.laptop-screen img {
		vertical-align: middle;
		width: 250px !important;
	}

	.laptop-screen {
		float: left;
		width: 100%;
		text-align: center;
		padding-top: 20px;
		margin-top: -145px;
		margin-top: -80px;
	}

	.banner {
		background-image: url('./assets/images/blue-bg.png');
		background-size: cover;
		background-repeat: no-repeat;
		height: 370px;
		padding-top: 145px;
	}
	.information h5 {
		color: #666674;
		font-weight: 600;
		font-size: 30px;
		margin-top: 0px;
		line-height: 28px;
	}

	.content-left img {
		vertical-align: middle;
		width: 100%;
		margin: auto;
		display: inherit;
	}.content-right {
		float: left;
		width: 100%;
		background: #64b8c9;
		text-align: center;
		border-radius: 10px;
		padding: 20px 0px;
		margin-top: 20px;
	}

	.content-body2 {
		float: left;
		width: 100%;
		padding-left: 0px;
	}
	.content-body2 p {
		width: 100%;
		color: grey;
		font-size: 14px;
		float: left;
		font-weight: 600;
		margin-top: 5px;
		margin-left: 0px;
		text-align: center;
	}
	.content-body2 h5 {
		font-size: 14px;
		background: #64b8c9;
		color: white;
		float: none;
		font-size: 25px;
		padding: 12px 20px;
		border-radius: 100%;
		margin: auto;
		display: inline-block;
	}

	.content-body2 {
		float: left;
		width: 100%;
		padding-left: 0px;
		text-align: center;
		margin-bottom: 15px;
	}
	.content-body3 p {
		color: grey;
		font-size: 16px;
		padding-left: 0px;
		text-align: center;
		margin: 20px 0px 30px 0px;
	}
	.footer-left ul li {
		float: left;
		margin-right: 15px;
	}
	.paragraphtext {
		padding: 10px;
	}
	p.ex1 {
		padding: 35px;
	}

}
@media screen and (max-width:480px){
    .bri-box h3{
        font-size:18px;
    }
    .one-mnth h2 {
		margin-top: 0px;
		font-size: 18px;
	}
	.purchase-list {
		padding-left: 0.5em;
	}
	.media-body {
		font-size: 14px;
		font-weight: 300;
	}
	form .pulse-button {
		font-size: 20px;
	}

}




@media screen and (max-width:399px){
	.bri-box h3{
		font-size:16px;
	}
	.purchase-list li {
		padding-left: 1em;
		color: #000;
		font-size: 15px;
		margin-bottom: 1.5em;
	}
}
	
@media screen and (max-width:361px){	
	.quiz-area-middle-left p:first-of-type {
		font-size: 18px;
	}
	.quiz-area-middle-right p:first-of-type {
   
    font-size: 15px;
	}
	a.pull-right.prev_next.next_1 {
		font-size: 10px;
	}
	
	button.btn.btn-orange.btn-lg.pulse-button {
		font-size: 16px !important;
		padding: 25px 12%;
	}
	.text-lg[_ngcontent-c3] {
		font-size: 19px;
	}

}





.jconfirm .jconfirm-box .jconfirm-buttons button.btn-default {
    background-color: #e64d43;
}

 p.ex1 {
	padding: 20px;
}
p.ex2 {
	margin: 20px;
}
	
.carousel-control {
	display: none;
}

.modal-header {
    border-bottom: none!important;
}

button#getReportNow {
    opacity: 0;
}

 .jconfirm .jconfirm-box .jconfirm-buttons button.btn-default {
	background-color: #F1693C !important;
	color: #000;
	text-shadow: none;
	-webkit-transition: background .2s;
	transition: background .2s;
}

.modal-content {
    margin-top: 9%;
}

div#Paypal, div#stripePay {
    text-align: center;
	margin: 15px 0 0 0;
}


div#payment-request-button {
    margin-top: 0;
    padding-top: 0;
}

div#stripePay a {
    cursor: pointer;
}

 .btn-orange:link{
        color: white;
        background-color: #e84c3d !important;
    }
    .btn-orange:visited{
        color: white;
        background-color: #e84c3d !important;
    }
    .btn-orange:hover{
        color: white;
        background-color: #e84c3d !important;
    }
    .btn-orange:active{
        color: white;
        background-color: #e84c3d !important;
    }
    .navbar-default{
        background-color: #FCFCFC;
    }

	
span.android {
    text-align: center;
    display: block;
    font-size: 20px;
    font-family: Bhan-title;
}

h3.title-progress {
    text-align: center;
    font-weight: bold;
}

.blink_me {
  animation: blinker 1s linear 2;
}




span.fire {
    font-size: 17px;
    margin-left: 7px;
    margin-right: 6px;
}

i.fire {
    font-size: 16px;
    margin-left: 7px;
    margin-right: 6px;
}
.progress-bar span {
    color: white;
}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}
@keyframes notiny-animation-show-wtf {
  0% {
    opacity: 0;
    filter: blur(4px);
  }
  15% {
    opacity: 1;
  }
  50% {
  }
  90% {
    filter: blur(0px);
  }
  100% {
  }
}



@media screen and (min-width:991px){	

	svg:not(:root) {
		opacity: 0 !Important;
	}
	.controlls {
		position: absolute;
		left: 71px;
		top: 10px;
		text-align: center;
		border: 2px solid #4BA9CA;
		line-height: 70px;
		height: 70px;
		box-sizing: border-box;
		border-radius: 100%;
		display: block;
		width: 70px !important;
		padding-top: 20px;
	}
	.controlls {
		left: 31px;
	}
	.circle svg{
		height : 79px;
	}

}

@media screen and (max-width:990px){	
	.controlls {
		position: relative;
		display: block;
		float: right;
		border-radius: 0;
		border: none;
		height: 29px;
		padding: 0;
	}

}














@keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes lds-rolling {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.lds-rolling {
  position: relative;
}
.lds-rolling div,
.lds-rolling div:after {
  position: absolute;
  width: 160px;
  height: 160px;
  border: 20px solid #ff727d;
  border-top-color: transparent;
  border-radius: 50%;
}
.lds-rolling div {
  -webkit-animation: lds-rolling 1s linear infinite;
  animation: lds-rolling 1s linear infinite;
     top: 50%;
    left: 50%;
}
.lds-rolling div:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.lds-rolling {

  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
