form.checkout {
    border: 1px solid;
}


form.checkout {
  max-width: 500px;
  margin: 2rem auto;
  text-align: center;
  border: 2px solid #eee;
  border-radius: 8px;
  padding: 1rem 2rem;
  background: white;

  font-family: monospace;
  color: #525252;
  font-size: 1.1rem;
}

form.checkout button {
  padding: 0.5rem 1rem;
  color: white;
  background: coral;
  border: none;
  border-radius: 4px;
  margin-top: 1rem;
}

form.checkout button:active {
  background: rgb(165, 76, 43);
}

body.modal-open{
    position: fixed;
    width: 100%;
}










/*********STRIPE ELEMENTS***********/



#payment-form {

  padding:0;
}


/*

.example.example1 {
  background-color: #ffffff;
  padding: 10px 0;
  text-align: center;
}


.example.example1 fieldset {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #fff;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.example.example1 .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
}

.example.example1 .row + .row {
  border-top: 1px solid #819efc;
}

.example.example1 label {
  width: 15%;
  min-width: 70px;
  padding: 11px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
 color: #2e80d9;
    font-weight: bold;
}

.example.example1 input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.example.example1 input:-webkit-autofill {
  -webkit-text-fill-color: #000;
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}

.example.example1 .StripeElement--webkit-autofill {
  background: transparent !important;
}

.example.example1 .StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

.example.example1 input {
  width: 100%;
  padding: 7px 15px 11px 0;
  color: #4a4040;
  background-color: transparent;
  -webkit-animation: 1ms void-animation-out;
}

.example.example1 input::-webkit-input-placeholder {
  color: #87BBFD;
}

.example.example1 input::-moz-placeholder {
  color: #87BBFD;
}

.example.example1 input:-ms-input-placeholder {
  color: #87BBFD;
}

.example.example1 buttons {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #e84c3d;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #ffb9f6;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.example.example1 buttons:active {
  background-color: #d782d9;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #e298d8;
}

.example.example1 .error svg .base {
  fill: #000;
}

.example.example1 .error svg .glyph {
  fill: #fff;
}

.example.example1 .error .message {
  color: #000;
}

.example.example1 .success .icon .border {
  stroke: #87bbfd;
}

.example.example1 .success .icon .checkmark {
  stroke: #fff;
}

.example.example1 .success .title {
  color: #fff;
}

.example.example1 .success .message {
  color: #9cdbff;
}

.example.example1 .success .reset path {
  fill: #fff;
}*/
/*********STRIPE ELEMENTS***********/
/*


 
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #e4e4e4;
  border-radius: 0px;
  -webkit-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
  margin-bottom: 25px;
}

.StripeElement--focus {
  
  border-color: rgba(19,145,195,1);
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}


.StripeElement {
  margin: 1rem 0 1rem;
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
      margin-bottom: 30px;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
*/

 .braintree-input-class {
    color: black;
  }
  .braintree-valid-class {
    color: green;
  }
  .braintree-invalid-class {
    color: red;
  }
  
  /*--------------------
SHARED VARIABLES
--------------------*/
/*--------------------
GENERAL
--------------------*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

body {
  background: #f2f2f2;
  font-family: 'Roboto', verdana, sans-serif;
  height: 100%;
}


#cardForm {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-checkout #page-header {
    padding-top: 40px;
    padding-bottom: 30px;
}
/*
div#payment-request-button {
    opacity: 0;
    position: absolute;
}*/

/*--------------------
PANEL FORM
--------------------*/
.panel {
  background: #FFF;
  width: 80%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}

.panel__header {
  background: #3F51B5;
  color: #FFF;
}

.panel__header,
.panel__footer {
  padding: 1em 2em;
}

.panel__footer {
  background: #f3f3f3;
}

.panel__content {
  padding: 1em 2em;
  overflow: hidden;
}

.textfield--float-label {
  width: 50%;
  float: left;
  display: inline-block;
  padding-right: 5px;
}
.textfield--float-label-2 {
  width: 25%;
  float: left;
  display: inline-block;
  padding-right: 5px;
}
.payForm{
	 width: 100%;
  float: left;
}
.hosted-field--label {
  -webkit-transform: translateY(0.4em);
          transform: translateY(0.4em);
  font-size: 1.125em;
  line-height: 32px;
  transition: all .15s ease-out;
  display: block;
  width: 100%;
  font-weight: 400;
  overflow: hidden;
  margin-bottom: 0.5em;
}
.hosted-field--label.label-float, .hosted-field--label.filled, .hosted-field--label.invalid {
  text-overflow: ellipsis;
  color: #2196F3;
  transition: all 0.15s ease-out;
}
.hosted-field--label.filled {
  color: rgba(0, 0, 0, 0.54);
}
.hosted-field--label.invalid {
  color: #F44336;
}

span.icon {
  position: relative;
  top: 0.2em;
  margin-right: 0.2em;
}

svg {
  fill: #333;
}

.hosted-field {
  height: 32px;
  margin-bottom: 1em;
  display: block;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  outline: 0;
  width: 100%;
  font-size: 16px;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  position: relative;
}

.pay-button {
  background: #E91E63;
  color: #fff;
  margin: 0 auto;
  border: 0;
  border-radius: 3px;
  padding: 1em 3em;
  font-size: 1em;
  text-transform: uppercase;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
}

/*--------------------
BT HOSTED FIELDS SPECIFIC 
--------------------*/
.braintree-hosted-fields-focused {
  border-bottom: 2px solid #3F51B5;
  transition: all 200ms ease;
}

.braintree-hosted-fields-invalid {
  border-bottom: 2px solid #E91E63;
  transition: all 200ms ease;
}

/*---------------------
Media Queries
----------------------*/
@media (max-width: 600px) {
  html {
    overflow: auto;
  }

  #cardForm {
    height: auto;
    margin: 2em;
    font-size: 13px;
  }

  .panel {
    width: 100%;
  }

  .textfield--float-label {
    width: 100%;
    float: none;
    display: inline-block;
  }

  .pay-button {
    width: 100%;
  }
}


a.pulse-button, .pulse-button {
    position: relative;
    width: auto;
    height: auto;
    border: none;
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
    border-radius: 4px;
    background-color: #e84c3d;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-animation: pulse 2.5s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 2.5s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 2.5s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 2.5s infinite cubic-bezier(0.66, 0, 0, 1);
}


.pulse-button {
    
	background: #f1693c;
    color: white;
    padding: 25px 66px;
    display: inline-block;
    font-size: 20px;
    border-radius: 3px;
    text-decoration: none;
    margin-bottom: 15px;
	margin-top: 10px;
    font-size: 26px;
}



@media screen and (max-width: 767px){
	 .pulse-button {
		background: #f1693c;
		color: white;
		padding: 18px 41px;
		display: inline-block;
		font-size: 17px !important;
		border-radius: 3px;
		text-decoration: none;
		margin-bottom: 15px;
	}
}

	.btn-orange {
		color: white;
		background-color: #e84c3d !important;
	}
	.btn-orange:link{
        color: white;
        background-color: #e84c3d !important;
    }
    .btn-orange:visited{
        color: white;
        background-color: #e84c3d !important;
    }
    .btn-orange:hover{
        color: white;
        background-color: #e84c3d !important;
    }
    .btn-orange:active{
        color: white;
        background-color: #e84c3d !important;
    }
    .navbar-default{
        background-color: #FCFCFC;
    }


@media screen and (min-width: 991px){
	#page-header {

		padding-top: 30px;
	}


	
}




.discountImage{
	cursor:pointer;
}

.upper{
	width:94%;
}

.upper-left {
    width: 50%;
    float: left;
	text-align: left;
	    opacity: 0;
}

.upper-right {
    float: left;
    width: 50%;
	text-align: right;
	    opacity: 0;
}



.upper-left img {
    width: 40%;
}

.upper-right img {
    width: 7%;
}
.lower-left img {
    max-width: 8%;
    margin: 3px 6px;
}
.lower-left {
    text-align: left;
}
.lower-left.no-popup {
    font-size: 13px;
}
.upper-text {
 width: 87%;
    position: absolute;
    top: 41.5%;
    margin: 0 1%;
}
.text-left {
    width: 50%;
    float: left;
    font-size: 11px;
    font-weight: bold;
}
.text-right {
	  font-size: 11px;
    font-weight: bold;
	float: left;
	text-align: right;
    width: 50%;
}

.pp-text{
	font-size:18px;
	
} 
.android{
	    font-family: Bhan-title;
}
.mcafee img {
    padding-top: 4%;
}
.rows{
		display:none
	}
	
	
	
	/*
.example.example1 fieldset {
	display: block;
	width: 94%;
	clear: both;
}*/

.upper{	
	
	    width: 98%;
    float: none;
    display: block;
    margin: 0px 0;
	
}
.checkout-section {
    -webkit-transition: height 3s ease;
    -moz-transition: height 3s ease;
    -o-transition: height 3s ease;
    transition: height 3s ease;
	
	-webkit-transition: display 3s ease;
    -moz-transition: display 3s ease;
    -o-transition: display 3s ease;
    transition: display 3s ease;
	
}	

.loader {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: 9999;
    background-color: #00000040;
    height: 100%;
	top:0;
	padding: 15%;
}

	







.cell.example.example3 {
    background: #e3ecef;
    margin: 10px 0;
    padding: 10px 10px;
}



.group {
  background: white;
  box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-bottom: 20px;
      width: 94%;
    margin: 14px auto;
}

label {
  position: relative;
  color: #8898AA;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

.group label:not(:last-child) {
  border-bottom: 1px solid #F0F5FA;
}

label > span {
  width: 120px;
  text-align: right;
  margin-right: 30px;
  
  
}

.field {
  background: transparent;
  font-weight: 300;
  border: 0;
  color: #31325F;
  outline: none;
  flex: 1;
  padding-right: 10px;
  padding-left: 10px;
  cursor: text;
}

.field::-webkit-input-placeholder {
  color: #CFD7E0;
}

.field::-moz-placeholder {
  color: #CFD7E0;
}


.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 24px;
  text-align: center;
}


.secure-text img {
    max-width: 3%;
    vertical-align: bottom;
}
.secure-text span.message {
    font-size: 16px;
    font-weight: bold;
}

.big-tp-tittle h1 {
    float: right;
}
	
span.cards-img {
   float: left;
    width: 40%;
    margin: 15px 0 0px 0;
}

.pl-icons {
    text-align: center;
}
.pl-icons img {
    width: 80%;

}

@media screen and (min-width: 767px) and (max-width: 991px){
	div#Paypal, div#stripePay{
		text-align: center;
		margin: 15px 0 0 0;
		width: 80%;
		margin: 0 auto;
	}

}

@media (max-width: 991px){

	svg:not(:root) {
		display: inline-block;
		vertical-align: sub;
	}
}
@media (max-width: 767px){
	.big-tp-tittle h1 {
	    margin-top: 3px;
	}
	label > span {
		display: block;
		width: 74px;
		text-align: left;
		margin-right: 3px;
		overflow: hidden;
		min-width: 74px;
		max-width: 74px;
	}
	span.cards-img {
		float: none;
		width: 49%;
		display: block;
		text-align: left;
		margin-top: 10px;
	}
	.secure-text span.message {
		font-size: 16px;
	}
	.secure-text img {
		max-width: 6%;
	}

	.rows{
		display:none
	}
	.lower-left {
		font-size: 13px;
	}
	.upper-left img {
		width: 80%;
	}

	.upper-right img {
		width: 13%;
	}
	.upper{
		display:none;
	}
	.alertify .ajs-body .ajs-content {
		padding: 0;
	}
	.group{
	    width: 98%;
		margin: 5px auto;
	}
	
}

@media screen and (max-width:400px){	
	
	button.btn.btn-orange.btn-lg.pulse-button {
		
		padding: 25px 18%;
	}
	
	
	
}
@media screen and (max-width:360px){	
	
	.secure-text span.message {
		font-size: 13px;
	}
	.big-tp-tittle h1 {
	    margin-top: 1px;		
		font-size: 21px;
	}
	span.cards-img {
		float: none;
		width: 45%;
		display: block;
		text-align: left;
		margin-top: 10px;
	}
	
}
