#page-header {

    padding-bottom: 115px;
}
.loader {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: 9999;
    background-color: #00000040;
    height: 100%;
	top:0;

}

.text-medium {
    font-weight: 600;
}

.text-lg {
    font-size: 23px;
}

.android.priv-text{
	text-align: right;
	margin-right:1%;
    display: block;
    font-size: 12px;
    font-family: Bhan-title;
}
.btn-orange.btn-lg.pulse-button {
    width: 100%;
    margin-bottom: 0;
}

@media screen and (max-width:767px){	
	.text-lg {
		font-size: 21px;
	}
	.panel-body {
		padding: 0px;
	}
	
	
}

@media screen and (max-width: 480px){

	form .pulse-button {
		font-size: 20px;
		font-size: 18px !important;
		padding: 25px;
		line-height: 20px;
		
	}

}

@media screen and (max-width:361px){	
	.text-lg {
		font-size: 19px;
	}
	button.btn.btn-orange.btn-lg.pulse-button {
		font-size: 15px !important;
		padding: 25px 10%;
	}
	
	button .small-lock {
		width: 9%;
	}


}

