.meter {
			height: 20px;  /* Can be anything */
			position: relative;
			margin: 60px 0 20px 0; /* Just for demo spacing */
			background: #555;
			-moz-border-radius: 25px;
			-webkit-border-radius: 25px;
			border-radius: 25px;
			padding: 10px;
			-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
			-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
			box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
		}
		.meter > span {
			display: block;
			height: 100%;
			   -webkit-border-top-right-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			       -moz-border-radius-topright: 8px;
			    -moz-border-radius-bottomright: 8px;
			           border-top-right-radius: 8px;
			        border-bottom-right-radius: 8px;
			    -webkit-border-top-left-radius: 20px;
			 -webkit-border-bottom-left-radius: 20px;
			        -moz-border-radius-topleft: 20px;
			     -moz-border-radius-bottomleft: 20px;
			            border-top-left-radius: 20px;
			         border-bottom-left-radius: 20px;
			background-color: rgb(43,194,83);
			background-image: -webkit-gradient(
			  linear,
			  left bottom,
			  left top,
			  color-stop(0, rgb(43,194,83)),
			  color-stop(1, rgb(84,240,84))
			 );
			background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(43,194,83) 37%,
			  rgb(84,240,84) 69%
			 );
			-webkit-box-shadow:
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			-moz-box-shadow:
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			box-shadow:
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			position: relative;
			overflow: hidden;
		}
		.meter > span:after, .animate > span > span {
			content: "";
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			background-image:
			   -webkit-gradient(linear, 0 0, 100% 100%,
			      color-stop(.25, rgba(255, 255, 255, .2)),
			      color-stop(.25, transparent), color-stop(.5, transparent),
			      color-stop(.5, rgba(255, 255, 255, .2)),
			      color-stop(.75, rgba(255, 255, 255, .2)),
			      color-stop(.75, transparent), to(transparent)
			   );
			background-image:
				-moz-linear-gradient(
				  -45deg,
			      rgba(255, 255, 255, .2) 25%,
			      transparent 25%,
			      transparent 50%,
			      rgba(255, 255, 255, .2) 50%,
			      rgba(255, 255, 255, .2) 75%,
			      transparent 75%,
			      transparent
			   );
			z-index: 1;
			-webkit-background-size: 50px 50px;
			-moz-background-size: 50px 50px;
			background-size: 50px 50px;
			-webkit-animation: move 2s linear infinite;
			-moz-animation: move 2s linear infinite;
			   -webkit-border-top-right-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			       -moz-border-radius-topright: 8px;
			    -moz-border-radius-bottomright: 8px;
			           border-top-right-radius: 8px;
			        border-bottom-right-radius: 8px;
			    -webkit-border-top-left-radius: 20px;
			 -webkit-border-bottom-left-radius: 20px;
			        -moz-border-radius-topleft: 20px;
			     -moz-border-radius-bottomleft: 20px;
			            border-top-left-radius: 20px;
			         border-bottom-left-radius: 20px;
			overflow: hidden;
		}

		.animate > span:after {
			display: none;
		}

		@-webkit-keyframes move {
		    0% {
		       background-position: 0 0;
		    }
		    100% {
		       background-position: 50px 50px;
		    }
		}

		@-moz-keyframes move {
		    0% {
		       background-position: 0 0;
		    }
		    100% {
		       background-position: 50px 50px;
		    }
		}


		.orange > span {
			background-color: #f1a165;
			background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
			background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
		}

		.red > span {
			background-color: #f0a3a3;
			background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
			background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
		}

		.nostripes > span > span, .nostripes > span:after {
			-webkit-animation: none;
			-moz-animation: none;
			background-image: none;
		}
		.loadingNow-div{
			text-align:center;
		}
		span.loadingNow {
			text-align: center;
			display: block;
		}
		
#page-header {
    padding-bottom: 110px;
}li.question-number {
    display: inline-block;
    background: #d3dcd9;
    padding: 3px 10px;
    border: #ccc solid 1px;
	min-width:44px;
	margin: 5px 3px;
	color: black;
}
li.question-number.active {
    border: #ddd 1px solid;
    background: #da6b6b;
    color: white;
}
li.question-number.answered {
     background: #464040;
    color: white;
}

li.question-number a span {
    display: inline-block;
    float: left;
	color: black;
}
li.question-number.answered a span,li.question-number.active a span {
	color: white;
}.answer-option {
    min-height: 100px;
}

.noright {
    padding-right: 0;
}

.noleft {
    padding-left: 5px;
}
b.choose {
    font-size: 80%;
    float: left;
}
.answerArea:hover {

	background: #41a5cd36;
    border-radius: 7px;
    -webkit-transition: background-color 500ms linear;
	 -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
	
}
.answerArea{
	-webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
	
}
button.dontshow {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
}

.btn-success {
    color: #fff !important;
    background-color: #5cb85c;
    border-color: #4cae4c;
}


.continue{
	text-align:center;
}

.progress-bar span {
    color: white;
}.all-questions{
	float: left;
    display: block;
    clear: both;
    margin: 20px 6px;
}button.dontshow {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
}

.qTop {
    display: block;
    margin: 15px 0;
	padding: 0 0 15px 0;
	text-align: center;
}

span.qText {
    padding: 10px;
    background: #00000033;
    border-radius: 5px;
    width: 60%;
    display: block;
    float: left;
}
.StartQuiz{
    display: block;
    margin: 20px 0;
}

span.timer{
    float: left;
   text-align: center;
    width: 17%;
    padding: 10px;
    background: #ca8c1b47;
    margin-left: 15%;
    border-radius: 50px;
}
.submit-quiz{
	margin-top:15px;
}

span.message.timeup {
    display: block;
    width: 100%;
    float: left;
    padding: 9px;
    margin: 17px 0;
    border: #ccc solid 1px;
    background: #e08a2ebd;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.modal-content {
    margin-top: 17%;
}
.loader {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: 9999;
    background-color: #00000040;
    height: 100%;
	top:0;
	padding: 15%;
}


#page-header {
    padding-bottom: 70px;
}


.continue .btn-success {
    color: #fff !important;
    background-color: #E84C3D;
    border-color: #4cae4c;
}

.continue .btn-success, .btn-success:hover {
    color: #fff !important;
    background-color: #E84C3D;
    border-color: #4cae4c;
}

h3.title-progress {
    text-align: center;
    font-weight: bold;
}

modal-container .modal-header {
    min-height: 0;
    padding: 0 15px;
}

.modal-header {
    min-height: 0;
    padding: 0 15px;
}

.continue{
	text-align:center;
}

.progress-bar span {
    color: white;
}
